/*
    This file is intended to group all styles of components
    GUIDELINES:
*/

.open > .dropdown-menu {
  -webkit-transform: perspective(800px) rotateX(0deg);
  transform: perspective(800px) rotateX(0deg);
}
.dropdown-menu {
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: perspective(800px) rotateX(-90deg);
  transform: perspective(800px) rotateX(-90deg);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display: block;
}
.dropup .dropdown-menu {
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: perspective(800px) rotateX(90deg);
  transform: perspective(800px) rotateX(90deg);
}
.open.dropup .dropdown-menu {
  -webkit-transform: perspective(800px) rotateX(0deg);
  transform: perspective(800px) rotateX(0deg);
}
.dropup > .dropdown-menu:after {
  border-bottom: 0;
  border-top: 6px solid rgba(0, 0, 0, 0.9);
  top: auto;
  display: inline-block;
  bottom: -7px;
  content: '';
  position: absolute;
  left: 50%;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
