@import '../../css/echoes-variables.less';

.user-playlists {
	.user-playlist {
		cursor: pointer;
		a:hover {
			.label {
				display: block;
			}
		}
		.video-title {
			font-size: small;
		}

		.video-thumb {
			height: 48px;
			width: 64px;
			float: left;
			margin-right: 8px;
		}

		.label {
			position: absolute;
			top: 35px;
			right: 10px;
			display: none;
		}

		a {
			min-height: 60px;
		}
	}
}