<div class="view-content youtube-results youtube-videos" 
	infinite-scroll="youtubeVideos.searchMore()" 
	infinite-scroll-distance="2"
	>
	<section ng-switch="youtubeVideos.getFeedType()">
		
		<div ng-switch-when="video">
			<youtube-list videos="youtubeVideos.videos" 
				class="list-unstyled ux-maker youtube-items-container clearfix"
				on-select="youtubeVideos.playVideo(video)" 
				on-queue="youtubeVideos.queueVideo(video)" 
				on-add="youtubeVideos.addVideo(video)"
			></youtube-list>
		</div>

		<div ng-switch-when="playlist">
			<ul class="list-unstyled ux-maker youtube-items-container clearfix">
				<youtube-playlist-item 
					ng-repeat="video in youtubeVideos.videos track by video.id"
					video="video"
					on-play="youtubeVideos.playPlaylist(video)">
				</youtube-playlist-item>
			</ul>
		</div>
	</section>
</div>