<div class="view-content youtube-videos"
	infinite-scroll="youtubeVideos.searchMore()"
	infinite-scroll-distance="2"
	>
	<nav class="navbar col-xs-12" player-resizer="fullscreen">
		<span class="btn btn-navbar btn-link pull-left ux-maker sidebar-toggle visible-xs-inline-block" drawer-toggle="drawer-opened">
			<i class="fa fa-bars"></i>
		</span>

		<div class="navbar-header pull-left">
			<search-panel></search-panel>
		</div>
		
		<button type="button" class="navbar-toggle btn btn-primary"
			ng-click="youtubeVideos.toggleFilters()">
			<i class="fa fa-filter"></i>
		</button>

		<div class="collapse navbar-collapse"
			ng-class="{ collapse: youtubeVideos.hideFilters }">
			<search-panel-filter class="navbar-left"></search-panel-filter>

			<user-profile class="navbar-right"></user-profile>
		</div>
		<feed-filter></feed-filter>
	</nav>

	<section ng-switch="youtubeVideos.getFeedType()" class="videos-list">

		<div ng-switch-when="video">
			<youtube-list videos="youtubeVideos.videos"
				class="list-unstyled ux-maker youtube-items-container clearfix"
				on-select="youtubeVideos.playVideo(video)"
				on-queue="youtubeVideos.queueVideo(video)"
				on-add="youtubeVideos.addVideo(video)"
			></youtube-list>
		</div>

		<div ng-switch-when="playlist">
			<ul class="list-unstyled ux-maker youtube-items-container clearfix">
				<youtube-playlist-item
					ng-repeat="video in youtubeVideos.videos track by video.id"
					video="video"
					on-play="youtubeVideos.playPlaylist(video)"
					back="{{:: youtubeVideos.playlistBackState }}">
				</youtube-playlist-item>
			</ul>
		</div>
	</section>
</div>