############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

#hgfiles
.hg/
.hgignore
*.sublime-*

node_modules/*.*
bower-components/*.*