# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

#Translations
*.mo

# Mac crap
.DS_Store

*.sublime-*

# custom echoes files
node_modules
.tmp/
bower_components/
bundle*.js
bundle*.map
*.css.map
*.tmp.*
style.css
npm-debug.log
vendors*.js
templates*.mdl*.js
dist/
.tags*
