	<section class="media-title">
		
			<div class="front face">
				<div class="indicators clearfix">
					
					<span class="pull-left item-is-playing playing-<%= isPlaying %>">
						<i class="glyphicon glyphicon-play"></i>Now Playing
					</span>
					
					<!-- <button class="pull-right btn btn-default btn-xs item-action favorite-media is-favorite-<%= isFavorite %>">
						<i class="glyphicon glyphicon-heart-empty"></i>
						<i class="glyphicon glyphicon-heart"></i>
					</button> -->
				
					<button class="pull-right btn btn-default btn-xs add-to-playlist" title="Add this video to a playlist">
						<i class="glyphicon glyphicon-plus"></i> Add
					</button>
				
				</div>
				
				<h4 class="title span11"><%- title %></h4>
				<a href='#play/video/<%= id %>' rel="tooltip" title="<%- title %>" class="media-thumb">
				
						<div class="thumbnail">
							<img src="<%= thumbnail.hqDefault %>">
						</div>
						
						<button class="btn btn-default btn-lg play-media">
							<i class="glyphicon glyphicon-play"></i>
						</button>
				</a>
			</div>
		
		
		
		<div class="description back face">
			<h4>"<%= title %>"</h4>
			<%- description %>
		</div>

	</section>


	<section class="item-actions">
		
		<span class="btn btn-default btn-xs media-desc " title="more info about this video">
			<i class="glyphicon glyphicon-info-sign"></i>
		</span>
		
		<span class="item-action"><i class="glyphicon glyphicon-time"></i> <%= time %></span>
	
		<span class="item-likes" rel="tooltip" title="">
			<i class="glyphicon glyphicon-thumbs-up"></i><%= likeCountDisplay %>
		</span>
	
	
	</section>