<ul class="list-unstyled user-profile"
	ng-class="{ 'user-signed-in': userProfile.data.user.id }">

	<li uib-dropdown class="dropdown">
		<a uib-dropdown-toggle class="dropdown-toggle" data-toggle="dropdown" href="">
			<i class="fa fa-user icon-user"
				style="background-image: url({{ userProfile.data.user.snippet.thumbnails.high.url }})"></i>
		</a>
		<ul class="uib-dropdown-menu dropdown-menu dropdown-menu-fade">
			<li>
				<a href="http://github.com/orizens/echoes" target="_blank">
				<i class="fa fa-github"></i> About Echoes</a>
			</li>
			<li>
				<a href="http://github.com/orizens/echoes/issues" target="_blank">
				<i class="fa fa-medkit"></i> Report An Issue</a>
			</li>
			<li>
				<a href="http://github.com/orizens/echoes/issues" target="_blank">
				<i class="fa fa-lightbulb-o"></i> Suggest A New Feature</a>
			</li>
			<li>
				<a href="https://chrome.google.com/webstore/detail/echoes-player/aaenpaopfebcmdaegggjbkhaedlbbkde" target="_blank">
				<i class="fa fa-google"></i> Echoes ChromeApp</a>
			</li>
			<!-- <li>
				<a href="/updates/latest.json" target="_blank" class="action">
				<i class="fa fa-cloud-upload"></i> Check For Updates</a>
			</li> -->
			<li>
				<a href="" class="sign-in pull-left"
					ng-click="userProfile.signInDialog()">
					<i class="fa fa-google-plus"></i> Sign In
				</a>
				<a href="" class="sign-out pull-left"
					ng-click="userProfile.signOut()">
					<i class="fa fa-power-off"></i> Sign Out
				</a>
				<a href="" class="sign-out"
					ng-click="userProfile.reload()">
					<i class="fa fa-refresh"></i> Reload
				</a>
			</li>
		</ul>
	</li>
</ul>