<div class="youtube-player"
	ng-class="{ 
		'show-youtube-player': vm.showPlayer(),
		'fullscreen': vm.isFullScreen
			}">
	<div class="yt-player ux-maker">
		<div id="gp-share" class="pull-left">
			<button class="btn btn-danger btn-sm"
				title="Share To Google+"
				socialshare
				socialshare-provider="google+"
				socialshare-text="Listening to {{ vm.video.media.snippet.title }}"
				socialshare-hashtags="echotube, youtube video, nowlistening"
				socialshare-url="http://echotu.be/#/video/{{ vm.video.mediaId }}">
				<span class="fa fa-google-plus-square"></span>
			</button>
			<button class="btn btn-info btn-sm"
				title="Share To Twitter"
				socialshare
				socialshare-provider="twitter"
				socialshare-hashtags="echotube, youtube, nowlistening"
				socialshare-url="http://echotu.be/#/video/{{ vm.video.mediaId }}">
				<span class="fa fa-twitter-square"></span>
			</button>
			<button class="btn btn-info btn-sm"
				title="Share To Facebook"
				socialshare
				socialshare-provider="facebook"
				socialshare-url="http://echotu.be/#/video/{{ vm.video.mediaId }}">
				<span class="fa fa-facebook-square"></span>
			</button>
		</div>
		<div id="player" class="ux-maker"></div>
	</div>
	
	<div class="container-fluid">
		
		<div class="col-md-4 col-xs-10 controls-container nicer-ux"
			ng-class="{ 'yt-playing': vm.isPlaying() }">
			<player-controls
				playlist="vm.nowPlaylist"
				playlist-index="vm.video.index"
				on-show-player="vm.onShowPlayer()"
				on-fullscreen="vm.toggleFullScreen()"
				on-play="vm.play()"
				on-pause="vm.pause()"
				on-play-next="vm.playNextTrack()"
				on-play-previous="vm.playPreviousTrack()"
				on-fullscreen="vm.toggleFullScreen()"
				on-add="vm.addToPlaylist()"
			></player-controls>
		</div>

		<div class="col-md-5 col-xs-1">
			<media-info
				video="vm.videoInfo"
				on-seek-change="vm.seekToSeconds(seconds)"
			></media-info>
		</div>

		<div class="col-md-3 hidden-xs">
			<ul class="nav navbar-nav navbar-right social-badges">
				<li class="social-badge">
					<div class="g-follow" data-annotation="bubble" data-height="15" data-href="//plus.google.com/u/0/111830310196328233893" data-rel="publisher"></div>
				</li>
				<li>
				 	<a href="#" class="facebook-page brand"><iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fechoesplayer&amp;width=50&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=683337491728445" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe></a>
				</li>
			</ul>
		</div>
	</div>
</div>