<div class="youtube-player"
  ng-class="{ 
    'show-youtube-player': $ctrl.showPlayer(),
    'fullscreen': $ctrl.isFullScreen
      }">
  <div class="yt-player ux-maker"
    ng-show="$ctrl.hasContent()">
    <div class="overlay text-center" title="maximize player to medium size" 
      ng-click="$ctrl.onShowPlayer()"
      ><i class="fa fa-expand"></i>
    </div>
    <div class="social-shares">
      <button ng-repeat="share in $ctrl.shares"
        class="btn btn-{{:: share.color }} btn-sm"
        title="{{:: share.title }}"
        socialshare
        socialshare-provider="{{:: share.provider }}"
        socialshare-text="Listening to {{ $ctrl.video.media.snippet.title }}"
        socialshare-hashtags="echotube, youtube video, nowlistening"
        socialshare-url="http://echotu.be/#/video/{{ $ctrl.video.mediaId }}">
        <span class="{{:: share.icon }}"></span>
      </button>

      <button title="minimize player"
        ng-click="$ctrl.onShowPlayer()" 
        class="btn btn-sm btn-primary navbar-btn show-player pull-right visible-md visible-lg">
        <i class="fa fa-chevron-up"></i>
      </button>
    </div>
    
    <div id="player" class="ux-maker"></div>
  </div>
  
  <div class="container-fluid">
    
    <div class="col-md-5 col-md-offset-0 col-sm-5 col-sm-offset-0 col-xs-offset-1">
      <media-info
        video="$ctrl.videoInfo"
        on-seek-change="$ctrl.seekToSeconds(seconds)"
        on-thumb-click="$ctrl.toggleFullScreen()"
        thumb-title="maximize / minimize"
      ></media-info>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-10 controls-container nicer-ux"
      ng-class="{ 'yt-playing': $ctrl.isPlaying() }">
      <player-controls
        playlist="$ctrl.nowPlaylist"
        playlist-index="$ctrl.video.index"
        on-play="$ctrl.play()"
        on-pause="$ctrl.pause()"
        on-play-next="$ctrl.playNextTrack()"
        on-play-previous="$ctrl.playPreviousTrack()"
        on-show-player="$ctrl.onShowPlayer()"
        on-add="$ctrl.addToPlaylist()"
      ></player-controls>
    </div>

    <div class="col-md-3 hidden-xs hidden-sm">
      <ul class="nav navbar-nav navbar-right social-badges">
        <li class="social-badge">
          <div class="g-follow" data-annotation="bubble" data-height="15" data-href="//plus.google.com/u/0/111830310196328233893" data-rel="publisher"></div>
        </li>
        <li>
          <a href="#" class="facebook-page brand"><iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fechoesplayer&amp;width=50&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=683337491728445" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe></a>
        </li>
      </ul>
    </div>
  </div>
</div>