/*
    This file is intended to group all styles of components
    GUIDELINES:
*/
/* applying a nicer UX*/
.nicer-ux *,
.ux-maker {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* flex box rules */
.flex-container-vertical {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  height: 100%;
}
.flex-container-horizontal {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  width: 100%;
}
.flex-container {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex: 1 0 30%;
}
.flex-item {
  -webkit-flex: 1;
  flex: 1;
}
.card .face {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all .8s ease;
}
.card .front {
  -webkit-transform: perspective(400px) rotateY(0deg);
  transform: perspective(400px) rotateY(0deg);
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.card .back {
  -webkit-transform: perspective(400px) rotateY(-179.9deg);
  transform: perspective(400px) rotateY(-179.9deg);
}
/*.card:hover .face.back, .card:focus .face.back
{
    -webkit-transform: perspective(400px) rotateY(179.9deg);
    transform: perspective(400px) rotateY(179.9deg);
}

.card:hover .face.front, .card:focus .face.front
{
    -webkit-transform: perspective(400px) rotateY(0deg);
    transform: perspective(400px) rotateY(0deg);
}*/
.show-description .face.front {
  -webkit-transform: perspective(400px) rotateY(179.9deg);
  transform: perspective(400px) rotateY(179.9deg);
}
.show-description .face.back {
  -webkit-transform: perspective(400px) rotateY(0deg);
  transform: perspective(400px) rotateY(0deg);
}
.open > .dropdown-menu {
  -webkit-transform: perspective(800px) rotateX(0deg);
  transform: perspective(800px) rotateX(0deg);
}
.dropdown-menu {
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: perspective(800px) rotateX(-90deg);
  transform: perspective(800px) rotateX(-90deg);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display: block;
}
.dropup .dropdown-menu {
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: perspective(800px) rotateX(90deg);
  transform: perspective(800px) rotateX(90deg);
}
.open.dropup .dropdown-menu {
  -webkit-transform: perspective(800px) rotateX(0deg);
  transform: perspective(800px) rotateX(0deg);
}
.dropup > .dropdown-menu:after {
  border-bottom: 0;
  border-top: 6px solid rgba(0, 0, 0, 0.9);
  top: auto;
  display: inline-block;
  bottom: -7px;
  content: '';
  position: absolute;
  left: 50%;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.feed-filters .btn {
  border-radius: 0px;
  border: none;
  border-bottom: 4px solid transparent;
  background: transparent;
  transition: background-color 0.3s ease-out;
  font-size: 13px;
  box-shadow: none;
}
.feed-filters .btn.active {
  border-bottom: 4px solid #49afcd;
}
.feed-filters .btn:hover {
  background-position: center;
  border-bottom: 4px solid #49afcd;
}
#sidebar-menu-toggler {
  display: none;
}
@media (max-width: 767px) {
  #sidebar-menu-toggler {
    position: fixed;
    top: 0;
    z-index: 10000;
    display: block;
  }
  #sidebar-menu-toggler.opened .btn-navbar {
    left: -10px;
  }
  #sidebar-menu-toggler .btn-navbar {
    margin: 0;
    padding: 13px 10px;
    position: absolute;
    top: 0px;
    z-index: 10000;
    display: block;
    background: transparent;
    border: none;
    box-shadow: none;
  }
}
.sidebar-left-fixed {
  -webkit-transform: translatex(0px);
  -moz-transform: translatex(0px);
  transform: translatex(0px);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  margin: 0;
  padding: 44px 0;
}
.sidebar {
  height: 100%;
  width: 300px;
  z-index: 100;
}
.sidebar h3 {
  margin: 0;
}
.sidebar .sidebar-pane {
  min-height: 0;
}
.sidebar .nav .nav-header,
.sidebar .nav li + .nav-header,
.sidebar .nav-header {
  margin-top: 0;
  padding-left: 5px;
  padding-right: 2px;
  text-shadow: none;
  color: #808080;
  font-size: 14px;
  font-weight: normal;
  text-shadow: 1px 2px 2px #111;
  background: linear-gradient(top, rgba(34, 34, 34, 0.4), rgba(17, 17, 17, 0.9));
  background: -webkit-linear-gradient(top, rgba(34, 34, 34, 0.4), rgba(17, 17, 17, 0.9));
  border-bottom: 1px solid #010101;
  box-shadow: -4px 4px 15px -4px #000000;
  z-index: 10;
}
.sidebar .icon-plus-sign.icon-white {
  margin-right: 0;
  margin-top: 3px;
}
@media (max-width: 767px) {
  .sidebar-left-fixed.closed {
    z-index: 100;
    -webkit-transform: translatex(-300px);
    -moz-transform: translatex(-300px);
    transform: translatex(-300px);
  }
}
@media (max-width: 768px) {
  .navbar .brand {
    font-size: 16px;
    margin-left: 41px;
  }
}
.container-main {
  padding: 1px 1px 0px;
  margin-left: 300px;
  margin-top: 40px;
  overflow-y: scroll;
  overflow-x: hidden;
}
@media (max-width: 767px) {
  .container-main {
    margin-left: 0;
    margin-top: 80px;
    height: auto !important;
  }
}
#loader {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 60%;
  height: auto;
  z-index: 1000;
  padding: 20px;
  border-radius: 10px;
  color: #42C7EE;
  background: rgba(0, 0, 0, 0.9);
}
#loader i {
  font-size: 80px;
}
#loader.hidden {
  display: none !important;
  visibility: hidden;
}
@media (min-width: 1000px) {
  #loader {
    box-shadow: 0 0 10px #000;
  }
}
#playlists-viewer.add-new-playlist .modal-header form .add-btn {
  visibility: visible;
}
#playlists-viewer.user-not-signed-in .sign-in-message {
  display: block;
}
#playlists-viewer .sign-in-message {
  display: none;
}
#playlists-viewer .modal-header .thumbnail {
  float: left;
  margin-right: 15px;
}
#playlists-viewer .modal-header .media-thumb {
  height: 80px;
}
#playlists-viewer .modal-header form {
  margin: 10px 0 0 0;
}
#playlists-viewer .modal-header form .add-btn {
  visibility: hidden;
}
#playlists-viewer .modal-body {
  max-height: 350px;
}
#playlists-viewer .modal-body li {
  border-bottom: 1px solid #cccccc;
}
#playlists-viewer .modal-body li:first-child a {
  border-top: 1px solid #cccccc;
}
#playlists-viewer .modal-body li a {
  padding: 10px;
  display: block;
}
#playlists-viewer .modal-body li a:hover {
  background-color: #efefef;
  text-decoration: none;
}
.youtube-playlist-item .thumbnail aside {
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 0px 4px 5px -3px #333333;
}
