<li class="youtube-item card ux-maker col-sm-3 col-xs-12"
ng-class="{ 'show-description': showDesc}">
	<section class="media-title">
		
		<div class="front face">
			<div class="indicators clearfix">
				
				<span class="pull-left item-is-playing playing-{{ isPlaying }}">
					<i class="fa fa-play"></i>Now Playing
				</span>
				
			</div>
			
			<section class="dropdown share">	
				<a class="dropdown-toggle" data-toggle="dropdown" href="">
					<span class="fa fa-share-alt"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a class=""
							socialshare
							socialshare-provider="google+"
							socialshare-hashtags="echotube, youtube video, nowlistening"
							socialshare-url="http://echotu.be/#/video/{{:: video.id }}">
							<span class="fa fa-google-plus-square"></span> Google+
						</a>
					</li>
					<li>
						<a class=""
							socialshare
							socialshare-provider="twitter"
							socialshare-url="http://echotu.be/#/video/{{:: video.id }}">
							<span class="fa fa-twitter-square"></span> Twitter
						</a>
					</li>
					<li>
						<a class=""
							socialshare
							socialshare-provider="facebook"
							socialshare-url="http://echotu.be/#/video/{{:: video.id }}">
							<span class="fa fa-facebook-square"></span> Facebook
						</a>
					</li>
				</ul>
			</section>

			<div rel="tooltip" class="media-thumb"
				tooltip="{{:: video.snippet.title }}" tooltip-placement="bottom"
				ng-click="vm.playVideo(video)">
				
				<div class="thumbnail">
					<img ng-src="{{:: video.snippet.thumbnails.high.url}}">
				</div>
				
				<button class="btn btn-default btn-lg ux-maker play-media">
					<i class="fa fa-play"></i>
				</button>
			</div>

			<section class="item-actions main-actions">
				
				<h4 class="title span11">
					<a href='#/video/{{:: video.id}}' rel="tooltip" class="media-thumb ellipsis"
						tooltip="{{:: video.snippet.title}}" tooltip-placement="bottom">
						{{:: video.snippet.title}}
					</a>
				</h4>

				<section class="media-actions clearfix">
					<button class="btn btn-link btn-xs add-to-playlist" title="Queue this video to now playlist"
						ng-click="vm.queueVideo(video)">
						<i class="fa fa-share"></i> Queue
					</button>
					<button class="btn btn-link btn-xs add-to-playlist" title="Add this video to a playlist"
						ng-click="vm.add()">
						<i class="fa fa-plus"></i> Add
					</button>
				</section>

				<span
					ng-click="showDesc = !showDesc"
					class="btn btn-default btn-xs media-desc " title="more info about this video">
					<i class="fa fa-info-circle"></i>
				</span>

				<span class="item-action"><i class="fa fa-clock-o"></i>{{:: video.time}}</span>

				<span class="item-likes item-action" rel="tooltip" title="Number of Likes">
					<i class="fa fa-thumbs-up"></i> {{:: video.statistics.likeCount | number}}
				</span>

				<span class="item-views item-action" rel="tooltip" title="Number of Views">
					<i class="fa fa-eye"></i> {{:: video.statistics.viewCount | number}}
				</span>

			</section>
		</div>

		<div class="description back face">
			<h4><a href='#/video/{{:: video.id}}' rel="tooltip" title="{{:: video.snippet.title}}" class="media-thumb">{{:: video.snippet.title}}</a></h4>
			<div ng-bind-html="video.snippet.description | linky"></div>
		</div>

		<section class="item-actions close-desc" ng-hide="!showDesc">
			<span
				ng-click="showDesc = !showDesc"
				class="btn btn-default btn-xs media-desc " title="flip back...">
					<i class="fa fa-times-circle"></i>
				</span>
		</section>

	</section>

</li>