.container-main {
	padding: 1px 1px 0px;
	margin-left: 300px;
	margin-top: 40px;
	overflow-y: scroll;
}

@media (max-width: 767px) {

	.container-main {
		margin-left: 0;
		margin-top: 80px;
		height: auto !important;
	}

}