<div class="youtube-player"
	ng-class="{ 
		'show-youtube-player': vm.showPlayer(),
		'fullscreen': vm.isFullScreen
			}">
	<div class="yt-player ux-maker">
		<div id="gp-share" class="pull-left">
			<button class="btn btn-danger"
				socialshare
				socialshare-provider="google+"
				socialshare-text="Listening to {{ vm.video.media.snippet.title }}"
				socialshare-hashtags="echotube, youtube video, nowlistening"
				socialshare-url="http://echotu.be/#/video/{{ vm.video.mediaId }}">
				<span class="fa fa-google-plus-square"></span>
			</button>
			<button class="btn btn-info"
				socialshare
				socialshare-provider="twitter"
				socialshare-url="http://echotu.be/#/video/{{ vm.video.mediaId }}">
				<span class="fa fa-twitter-square"></span>
			</button>
			<button class="btn btn-info"
				socialshare
				socialshare-provider="facebook"
				socialshare-url="http://echotu.be/#/video/{{ vm.video.mediaId }}">
				<span class="fa fa-facebook-square"></span>
			</button>
		</div>
		<div id="player" class="ux-maker"></div>
	</div>
	
	<div class="container-fluid">
		
		<ul class="navbar-nav nav youtube-toolbar nicer-ux clearfix">
			
			<li class="player-controls pull-left"
				ng-class="{ 'yt-playing': vm.isPlaying() }">
				
				<div class="btn-group">
					<button 
						ng-click="vm.togglePlayer(!vm.showPlayer())" 
						class="btn btn-default btn-lg navbar-btn show-player"><i class="fa fa-chevron-up"></i></button>
							
					<button class="btn btn-default btn-lg navbar-btn fullscreen"
						ng-click="vm.toggleFullScreen()"
						><i class="fa fa-arrows-alt"></i></button>
					
							
					<button class="btn btn-default btn-lg navbar-btn previous"
						ng-click="vm.playPreviousTrack()"
						ng-disabled="!vm.playlistHasTracks()">
						<i class="fa fa-step-backward"></i></button>
						
					<button class="btn btn-default btn-lg navbar-btn pause"
						ng-click="vm.pause()">
						<i class="fa fa-pause"></i></button>
						
					<button class="btn btn-default btn-lg navbar-btn play"
						ng-click="vm.play()">
						<i class="fa fa-play"></i></button>
						
					<button class="btn btn-default btn-lg navbar-btn next" 
						ng-click="vm.playNextTrack()"
						ng-disabled="vm.playlistIsEmpty() || vm.playlistHasOneTrack()"
						><i class="fa fa-step-forward"></i></button>
				</div>
			</li>
		</ul>

		<ul class="navbar-nav nav">
			<!-- create a drop up like duration for actions -->
			<li class="dropdown dropup now-playing-actions pull-left">	
				<div class="dropdown-toggle" data-toggle="dropdown" href="#" title="Actions For This Media">
					<i class="fa fa-ellipsis-v"></i>
				</div>
				<ul class="dropdown-menu dropdown-menu-fade">
					<li>
						<button class="add-to-playlist btn btn-primary" title="Add The Current Media To A Playlist"
							ng-click="vm.addToPlaylist()">
							<i class="fa fa-plus"></i> Add To A Playlist
						</button>
					</li>
				</ul>
			</li>
			<li class="media-info pull-left">
				<div class="current-track-info current-playlist-info pull-right">
					<div class="btn-group dropup navbar-btn">
					  <button class="btn dropdown-toggle" title="Current Playlist" data-toggle="dropdown">
					  	<span class="yt-playlist-title"><i class="fa fa-th-list"></i></span>
					    <span class="caret"></span>
					  </button>
					  <div class="dropdown-menu dropdown-menu-fade">
					  	<ul class="unstyled playlist-info">
					  		<li class="playlist-provider-item" ng-repeat="track in nowPlaylist">
					  			<a class="ellipsis" >
					  				{{$index}} <img ng-src="{{track.video.thumb}}">
					  			</a>
					  		</li>
					  	</ul>
					  </div>
					</div>
				</div>
			</li>
			
			<li class="media-info pull-left">
				<div class="current-track-info current-track-info-container pull-right" 
					ng-controller="MediaInfoCtrl as vm">
					<div class="btn-group dropup navbar-btn">
					  <button class="btn dropdown-toggle" title="Currently Playing" data-toggle="dropdown">
					  	<span class="yt-media-title ellipsis"><img ng-src="{{vm.video.thumb}}">{{vm.video.title}}</span>
					    <span class="caret"></span>
					  </button>
					  <div class="dropdown-menu dropdown-menu-fade">
					    	<div class="track-info" on-source-click="vm.onDescriptionClick">
					    		<div ng-bind-html="vm.video.desc"></div>
					    		<br>
					    		{{vm.video.thumb}}
					    	</div>
					  </div>
					</div>
				</div>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right social-badges">
			<li class="social-badge">
				<div class="g-follow" data-annotation="bubble" data-height="15" data-href="//plus.google.com/u/0/111830310196328233893" data-rel="publisher"></div>
			</li>
			<li>
			 	<a href="#" class="facebook-page brand"><iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fechoesplayer&amp;width=50&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=683337491728445" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe></a>
			</li>
		</ul>
	</div>
</div>