<div class="btn-group player-controls">
	<button title="show / hide"
		ng-click="$ctrl.handleOnAction($ctrl.States.SHOW_PLAYER)" 
		class="btn btn-lg navbar-btn show-player"><i class="fa fa-chevron-up"></i></button>
			
	<button title="play previous track"
		class="btn btn-lg navbar-btn previous"
		ng-click="$ctrl.handleOnAction($ctrl.States.PLAY_PREVIOUS)"
		ng-disabled="!$ctrl.playlistHasTracks()">
		<i class="fa fa-step-backward"></i></button>
		
	<button title="pause"
		class="btn btn-lg navbar-btn pause"
		ng-click="$ctrl.handleOnAction($ctrl.States.PAUSE)">
		<i class="fa fa-pause"></i></button>
		
	<button title="play"
		class="btn btn-lg navbar-btn play"
		ng-click="$ctrl.handleOnAction($ctrl.States.PLAY)">
		<i class="fa fa-play"></i></button>
		
		
	<button title="play next track"
		class="btn btn-lg navbar-btn next" 
		ng-click="$ctrl.handleOnAction($ctrl.States.PLAY_NEXT)"
		ng-disabled="$ctrl.playlistIsEmpty() || $ctrl.playlistHasOneTrack()"
		><i class="fa fa-step-forward"></i></button>

	<button title="add to playlist"
		class="btn btn-lg navbar-btn add"
		ng-click="$ctrl.handleOnAction($ctrl.States.ADD)">
		<i class="fa fa-plus"></i></button>
</div>