<h3 class="nav-header nav-header-fluid user-playlists-filter">
	Now Playing 
	<button class="btn btn-link btn-xs btn-clear" title="Clear All Tracks In Now Playlist"
		ng-disabled="!nowPlaylistFilter.playlist.length"
		ng-click="nowPlaylistFilter.clearPlaylist()">
		<span class="fa fa-trash-o"></span>
	</button>
	<button class="btn btn-link btn-xs btn-save" title="Save All These Tracks To A New Playlist"
		ng-disabled="!nowPlaylistFilter.playlist.length"
		ng-click="nowPlaylistFilter.togglePlaylistSaver()">
		<span class="fa fa-cloud-upload"></span>
	</button>
	<div class="playlist-filter pull-right">
		<i class="fa fa-search" ng-show="nowPlaylistFilter.playlistSearch.length === 0"></i>
		<i class="fa fa-remove text-danger" ng-show="nowPlaylistFilter.playlistSearch.length" ng-click="nowPlaylistFilter.playlistSearch = ''"></i>
		<input type="search" ng-model="nowPlaylistFilter.playlistSearch">
	</div>
</h3>