<div class="search-panel">
	<!-- SEARCH FORM -->
	<form class="navbar-form form-search navbar-left" id="media-explorer" ng-submit="$ctrl.search()">
		<div class="form-group clearfix">
			<input placeholder="Explore Media" id="media-search" type="search" class="form-control" autocomplete="off"
				ng-model="$ctrl.params.q"
				ng-model-options="{ debounce: 300 }"
				ng-change="$ctrl.resetPageToken()"
				uib-typeahead="q for q in $ctrl.complete($viewValue)"
				typeahead-on-select="$ctrl.updateSearch($item, $model, $label)"
				typeahead-show-hint="true"
				>
			<button class="btn btn-transparent btn-submit" type="submit" title="search with echoes">
				<i class="fa fa-search"></i>
			</button>
		</div>
	</form>

</div>