<h3 class="nav-header nav-header-fluid user-playlists-filter">
	Now Playing
	<button class="btn btn-link btn-xs btn-clear" title="Clear All Tracks In Now Playlist"
		ng-disabled="!$ctrl.playlist.length"
		ng-click="$ctrl.clearPlaylist()">
		<span class="fa fa-trash-o"></span>
	</button>
	<button class="btn btn-link btn-xs btn-save" title="Save All These Tracks To A New Playlist"
		ng-disabled="!$ctrl.playlist.length"
		ng-click="$ctrl.togglePlaylistSaver()">
		<span class="fa fa-cloud-upload"></span>
	</button>
	<div class="playlist-filter pull-right">
		<i class="fa fa-search" ng-show="$ctrl.isSearchFilled()"></i>
		<i class="fa fa-remove text-danger" ng-show="$ctrl.playlistSearch.length" ng-click="$ctrl.clearFilter()"></i>
		<input type="search" ng-model="$ctrl.playlistSearch" ng-change="$ctrl.handleFilterChange($ctrl.playlistSearch)">
	</div>
</h3>
