<!-- templates -->

<script id="youtube-item-search-result" type="text/template">

		<span class="twipsy badge badge-warning" rel="tooltip" title="likes"><%= likeCountDisplay %></span>
		<a href='<%= player.default %>' target='_blank' rel="tooltip" title="<%= title %>">
			<h4 class="title span11"><%= title %></h4>
			<div class="thumbnail">
			  <img src="<%= thumbnail.hqDefault %>" alt="">
			</div>
		</a>
		<button class="btn btn-info btn-mini media-desc" type="button"><i class="icon-chevron-up icon-white"></i>Description</button>
		<p class="description">
			<%= description %><br>
			Uploaded by <%= uploader %> on <%= uploaded %>
		</p>

</script>


<script id="results-navigation" type="text/template">

	<a href="#prev-result" class="prev nav">Previous <span class="items-per-page"><%= itemsPerPage %></span> Results</a>
	
	<%= start %> - <%= end %> of <%= totalItems %>

	<a href="#next-result" class="next nav">Next <span class="items-per-page"><%= itemsPerPage %></span> Results</a>

</script>

<script type="text/template" id="search-query">
	
	<li>
		<a href="#searches/<%= query %>" title="<%= query %>" class="twipsy" rel="tooltip">
			<i class="icon-search icon-white"></i>
			<%= query %>
			<i class="icon-remove icon-white"></i>
		</a>
	</li>

</script>