<div class="view-content youtube-video ux-maker">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>
				<span class="btn btn-navbar btn-link pull-left ux-maker sidebar-toggle visible-xs-inline-block visible-lg-inline-block" drawer-toggle="drawer-opened">
					<i class="fa fa-bars"></i>
				</span>
				<button class="btn btn-primary"
						ng-click="$ctrl.goBack()">
					<i class="fa fa-chevron-left"></i> Back
				</button>
				{{:: $ctrl.video.snippet.title}}
			</h4>
		</div>

		<div class="panel-body">
			<div class="thumbnail">
				<img ng-src="{{:: $ctrl.video.snippet.thumbnails.high.url}}" alt="{{:: $ctrl.video.snippet.title}}">

				<section class="actions">
					<button class="btn btn-lg ux-maker play-media bg-primary"
						title="Play this video now"
						ng-click="$ctrl.playVideo()">
						<i class="fa fa-play"></i>
					</button>
					<button class="btn btn-lg ux-maker play-media bg-primary"
						title="Queue this video to now playlist"
						ng-click="$ctrl.queueVideo()">
						<i class="fa fa-share"></i>
					</button>
				</section>
			</div>
			<div class="caption pull">
				<span>{{:: $ctrl.video.snippet.publishedAt | date}}</span>
				<span class="label label-info">{{:: $ctrl.video.time}}</span>
				<div ng-bind-html=":: $ctrl.video.snippet.description"></div>
			</div>
		</div>
	</div>
</div>