.youtube-video {
	@bg-color: rgba(255, 255, 255, 0.7);
	padding-bottom: 60px;
	margin-left: -15px;

	.style() {
		background: @bg-color;
	    box-shadow: 0 1px 30px -5px rgba(0, 0, 0, 0.3);
	}
	.thumbnail {
		position: relative;
		background: transparent;
		border: none;

		img {
			box-shadow: 0 1px 30px -5px rgba(0, 0, 0, .7);
		}
	}
	.play-media {
		color: white;
	}
	.actions {
		position: absolute;
		transform: translatex(-50%) translateY(-50%);
		left: 50%;
		top: 50%;
	}
	.panel-body {
		.style();
	}
}
@media (min-width: 1200px) {
	.drawer-opened .youtube-video {
		.sidebar-toggle {
		    display: none !important;
		}
	}
}