<div class="view-content youtube-results">
	<div class="col-md-12">
		<input type="text" ng-model="vm.search" placeholder="find a playlist...">
	</div>
	<div ng-if="!vm.isUserSignedIn()" class="col-md-12 well text-center">
		<a href="" class="sign-in btn btn-primary btn-lg"
			google-sign-in>
			<span class="fa fa-google-plus-square"></span>
			Sign In
		</a>
		<p>to view your playlists</p>
	</div>
	<ul class="list-unstyled ux-maker youtube-items-container clearfix">
		<youtube-playlist-item 
			ng-repeat="playlist in vm.playlists | filter:vm.search | orderBy:'snippet.title'"
			video="playlist"
			on-play="vm.playPlaylist(playlist)">
		</youtube-playlist-item>
	</ul>
</div>