<div class="sidebar-pane">
	<now-playlist-filter
		playlist="nowPlaying.playlist"
		on-save="nowPlaying.togglePlaylistSaver(show)"
		on-clear="nowPlaying.clearPlaylist()"
		on-change="nowPlaying.onFilterChange(filter)"
	></now-playlist-filter>
	<section class="playlist-saver-container clearfix" ng-if="nowPlaying.showPlaylistSaver && nowPlaying.playlist.length > 0">
		<playlist-saver class="col-md-12" tracks="nowPlaying.playlist"
			on-cancel="nowPlaying.togglePlaylistSaver()"
			on-save="nowPlaying.onPlaylistSave()"
			></playlist-saver>
	</section>
	<now-playlist videos="nowPlaying.playlist" 
		filter="nowPlaying.playlistSearch"
		on-select="nowPlaying.playVideo(video)" 
		on-remove="nowPlaying.removeVideo($event, video, $index)"
		on-sort="nowPlaying.updateIndex($item, $indexTo)"
	></now-playlist>
</div>