<div class="sidebar-pane">
	<now-playlist-filter
		playlist="$ctrl.playlist"
		on-save="$ctrl.togglePlaylistSaver(show)"
		on-clear="$ctrl.clearPlaylist()"
		on-change="$ctrl.onFilterChange(filter)"
	></now-playlist-filter>
	<section class="playlist-saver-container clearfix" 
		ng-if="$ctrl.showPlaylistSaver && $ctrl.playlist.length > 0">
		<playlist-saver class="col-md-12" 
			tracks="$ctrl.playlist"
			on-cancel="$ctrl.togglePlaylistSaver()"
			on-save="$ctrl.onPlaylistSave()"
			></playlist-saver>
	</section>
	<now-playlist 
		videos="$ctrl.playlist"
		now-playing="$ctrl.nowPlaying"
		filter="$ctrl.playlistSearch"
		on-select="$ctrl.playVideo(video)"
		on-remove="$ctrl.removeVideo($event, video, $index)"
		on-sort="$ctrl.updateIndex($item, $indexTo)"
		show-playlist-track="$ctrl.isPlaylistMedia(video)"
	></now-playlist>
</div>