@import url(../../css/core/global.less);

.user-playlists {
	.videos-list {
		padding-left: 1rem;
	}
	.title {
		margin: 0 0 2rem;

		.sidebar-toggle {
			display: none;
			padding: 0.7rem 1rem;
		}
	}
	.search-form {
		padding-left: 0;
		margin-bottom: 1rem;

		.form-control {
			border: none;
		}
	}
	.well {
		&.ng-leave {
			transition: all .5s ease-out;
			transform: translatey(0rem);
			opacity: 1;

			&.ng-leave-active {
				transform: translatey(5rem);
				opacity:0;
			}
		}
	}
}
.drawer-closed .user-playlists {
	.sidebar-toggle {
		display: inline-block;
	}
}