<div class="view-content youtube-results user-playlists">
	<nav class="nav">
		<div class="col-md-10 col-xs-9">
			<h2 class="title">
				<span class="btn btn-navbar btn-link pull-left ux-maker sidebar-toggle" drawer-toggle="drawer-opened">
					<i class="fa fa-bars"></i>
				</span>
				My Playlists
			</h2>
		</div>
		<user-profile class="nav navbar-nav navbar-right col-md-offset-2 col-xs-offset-2"></user-profile>
		<div class="col-md-12">
			<section class="col-md-6 search-form">
				<input type="text" class="form-control"
				ng-model="userPlaylists.search"
				placeholder="find a playlist...">
			</section>
		</div>
	</nav>
	<div ng-if="!userPlaylists.isUserSignedIn()" class="col-md-12 well text-center">
		<a href="" class="sign-in btn btn-primary btn-lg"
			google-sign-in>
			<span class="fa fa-google-plus-square"></span>
			Sign In
		</a>
		<p>to view your playlists</p>
	</div>
	<section class="videos-list">
		<ul class="list-unstyled ux-maker youtube-items-container clearfix">
			<youtube-playlist-item
				ng-repeat="playlist in userPlaylists.playlists | filter:userPlaylists.search | orderBy:'snippet.title'"
				video="playlist"
				on-play="userPlaylists.playPlaylist(playlist)">
			</youtube-playlist-item>
		</ul>
	</section>
</div>