@primary-color: #1abc9c;
.form-search {
	margin: 0 5px 0 0;
	position: relative;
	
	input.form-control {
		font-family: Asap, Arial;
		width: 185px;
		border-radius: 0;
	}
	.icon-search {
		position: absolute; 
		top: 12px; 
		right: 6px;
	}
}

.ui-autocomplete {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px 0px;
	margin-top: 4px;

	&.ui-menu {
		.ui-menu-item a.ui-state-focus {
			border-radius: 0;
			background: @primary-color;
			border-color: @primary-color;
		}
		.ui-menu-item a {
			line-height: 2;
		}
	}

	&.ui-front {
		margin-top: 26px;
	}
}
.ui-helper-hidden-accessible { display:none; }
@media (max-width: 979px) {
	.ui-autocomplete.ui-menu .ui-menu-item a {
		padding: 12px 2em;
	}
}
